In [ ]:
'''
Create an array of arrays for all the coordinates using a loop
create a function that takes coordinates as input and gives response
create a key based on date and time
'''

In [82]:
# creating a list of all the coordinates
def make_coord():
    coord=[]

    count = 1

    lat=31.39
    for i in range(10):
        lon=74.29
        for j in range(8):
            lon=round(lon,2)
            lat=round(lat,2)
            coord.append([count,[lat,lon]])
            count+=1
            # print(f"lat:{lat}, lon:{lon}")
            lon-=0.02
        lat-=0.02

    lat=31.29
    for i in range(5):
        lon=74.13
        for j in range(2):
            lon=round(lon,2)
            lat=round(lat,2)
            coord.append([count,[lat,lon]])
            count+=1
            # print(f"lat:{lat}, lon:{lon}")
            lon-=0.02
        lat-=0.02
    return coord

Now that all the coordinates are created we can move onto creating a function to extract data

In [ ]:
import requests

def get_curr(coord):
    url = f"https://api.openweathermap.org/data/2.5/air_pollution?lat={coord[0]}&lon={coord[1]}&appid=2d3a67acf97594b44e33512a7e8880ba"
    r = requests.get(url = url)
    return r.json()

In [53]:
from datetime import datetime

# function to convert utc to an array of time
def utc2time(ts):
    ts+=18000
    year=int(datetime.utcfromtimestamp(ts).strftime('%Y'))
    month=int(datetime.utcfromtimestamp(ts).strftime('%m'))
    day=int(datetime.utcfromtimestamp(ts).strftime('%d'))
    hour=int(datetime.utcfromtimestamp(ts).strftime('%H'))
    return [int(year),int(month),day,hour]

print(utc2time(1666872000))

[2022, 10, 27, 17]

In [54]:
def params(data,num,index):
    # a function that returns a list of parameters against a given json
    dt=data['list'][num]['dt']
    aqi=data['list'][num]['main']['aqi']
    co=data['list'][num]['components']['co']
    no=data['list'][num]['components']['no']
    no2=data['list'][num]['components']['no2']
    o3=data['list'][num]['components']['o3']
    so2=data['list'][num]['components']['so2']
    pm2_5=data['list'][num]['components']['pm2_5']
    pm10=data['list'][num]['components']['pm10']
    nh3=data['list'][num]['components']['nh3']

    temp=utc2time(dt)

    return [temp[0],temp[1],temp[2],temp[3],index,aqi,co,no,no2,o3,so2,nh3,pm2_5,pm10]

In [ ]:
from csv import writer

with open('data.csv', 'a') as f_object:
	writer_object = writer(f_object)
	for i in coord:
		writer_object.writerow(params(get_curr(i[1]),i[0]))
	f_object.close()

In [56]:
import requests
url = f"http://api.openweathermap.org/data/2.5/air_pollution/history?lat=31.20&lon=74.10&start=1666872000&end=1666958400&appid=8d9efe95caf3922348a458d615abeb8c"
r = requests.get(url = url)
temp=r.json()

In [74]:
data=[]
for i in range(len(temp['list'])):
    data.append(params(temp,i,1))

In [77]:
import pandas as pd
df=pd.DataFrame(data,columns=['year','month','day','hour','index','aqi','co','no','no2','o3','so2','nh3','pm2_5','pm10'])

In [78]:
df

,year,month,day,hour,index,aqi,co,no,no2,o3,so2,nh3,pm2_5,pm10
0,2022,10,27,17,1,5,1335.14,0.21,39.41,118.73,20.50,26.35,158.13,252.06
1,2022,10,27,18,1,5,1922.61,0.00,80.88,78.68,25.03,37.49,194.33,300.83
2,2022,10,27,19,1,5,2803.80,0.00,126.12,42.92,30.99,45.60,237.79,354.07
3,2022,10,27,20,1,5,3631.59,0.00,146.69,26.46,33.38,50.66,276.67,401.79
4,2022,10,27,21,1,5,4325.87,0.00,150.80,18.24,34.33,54.21,314.38,447.87
5,2022,10,27,22,1,5,5073.55,0.33,160.40,7.60,31.95,57.25,363.15,508.75
6,2022,10,27,23,1,5,6195.07,4.75,186.44,0.85,30.52,64.85,424.01,583.11
7,2022,10,28,0,1,5,7370.00,14.08,219.35,0.03,32.90,78.02,486.33,652.42
8,2022,10,28,1,1,5,8865.36,29.95,271.44,0.00,38.62,95.25,554.74,724.08
9,2022,10,28,2,1,5,11322.02,58.12,345.47,0.00,48.16,118.55,649.44,822.04
10,2022,10,28,3,1,5,13671.88,85.83,400.31,0.00,52.45,129.70,745.87,918.93
11,2022,10,28,4,1,5,14526.37,92.09,400.31,0.00,48.64,127.67,800.73,966.33
12,2022,10,28,5,1,5,14099.12,86.73,356.44,0.00,39.58,115.51,816.67,970.62
13,2022,10,28,6,1,5,13137.82,77.78,276.92,0.00,22.17,67.89,795.50,935.47
14,2022,10,28,7,1,5,11642.46,65.27,186.44,0.19,10.61,37.49,744.26,871.63
15,2022,10,28,8,1,5,9826.66,49.62,117.90,6.08,7.27,28.63,666.17,778.14
16,2022,10,28,9,1,5,7583.62,19.67,93.22,50.07,9.42,30.65,572.15,654.28
17,2022,10,28,10,1,5,6515.50,6.43,66.49,157.36,9.66,26.85,565.93,644.78
18,2022,10,28,11,1,5,5500.79,1.73,32.22,297.55,9.18,24.32,567.80,645.92
19,2022,10,28,12,1,5,1255.04,0.31,4.63,231.74,24.80,11.40,133.34,169.32
20,2022,10,28,13,1,5,881.20,0.20,2.72,214.58,16.45,9.75,98.69,131.07
21,2022,10,28,14,1,5,787.74,0.15,2.46,208.86,11.44,9.25,92.08,123.71
22,2022,10,28,15,1,5,794.41,0.33,5.48,177.38,8.23,11.53,89.54,123.68
23,2022,10,28,16,1,5,894.55,0.43,10.80,141.62,6.91,15.45,92.76,131.55
24,2022,10,28,17,1,5,1041.41,0.15,18.51,110.15,6.68,19.51,99.10,143.71

In [79]:
# combining two dataframes into one row wise
df=pd.concat([df,df],axis=0).sort_index(kind='merge')

A single Function Implementation

In [83]:
print(make_coord()) # [zone,[lat,lon]]

[[1, [31.39, 74.29]], [2, [31.39, 74.27]], [3, [31.39, 74.25]], [4, [31.39, 74.23]], [5, [31.39, 74.21]], [6, [31.39, 74.19]], [7, [31.39, 74.17]], [8, [31.39, 74.15]], [9, [31.37, 74.29]], [10, [31.37, 74.27]], [11, [31.37, 74.25]], [12, [31.37, 74.23]], [13, [31.37, 74.21]], [14, [31.37, 74.19]], [15, [31.37, 74.17]], [16, [31.37, 74.15]], [17, [31.35, 74.29]], [18, [31.35, 74.27]], [19, [31.35, 74.25]], [20, [31.35, 74.23]], [21, [31.35, 74.21]], [22, [31.35, 74.19]], [23, [31.35, 74.17]], [24, [31.35, 74.15]], [25, [31.33, 74.29]], [26, [31.33, 74.27]], [27, [31.33, 74.25]], [28, [31.33, 74.23]], [29, [31.33, 74.21]], [30, [31.33, 74.19]], [31, [31.33, 74.17]], [32, [31.33, 74.15]], [33, [31.31, 74.29]], [34, [31.31, 74.27]], [35, [31.31, 74.25]], [36, [31.31, 74.23]], [37, [31.31, 74.21]], [38, [31.31, 74.19]], [39, [31.31, 74.17]], [40, [31.31, 74.15]], [41, [31.29, 74.29]], [42, [31.29, 74.27]], [43, [31.29, 74.25]], [44, [31.29, 74.23]], [45, [31.29, 74.21]], [46, [31.29, 74.19]], [47, [31.29, 74.17]], [48, [31.29, 74.15]], [49, [31.27, 74.29]], [50, [31.27, 74.27]], [51, [31.27, 74.25]], [52, [31.27, 74.23]], [53, [31.27, 74.21]], [54, [31.27, 74.19]], [55, [31.27, 74.17]], [56, [31.27, 74.15]], [57, [31.25, 74.29]], [58, [31.25, 74.27]], [59, [31.25, 74.25]], [60, [31.25, 74.23]], [61, [31.25, 74.21]], [62, [31.25, 74.19]], [63, [31.25, 74.17]], [64, [31.25, 74.15]], [65, [31.23, 74.29]], [66, [31.23, 74.27]], [67, [31.23, 74.25]], [68, [31.23, 74.23]], [69, [31.23, 74.21]], [70, [31.23, 74.19]], [71, [31.23, 74.17]], [72, [31.23, 74.15]], [73, [31.21, 74.29]], [74, [31.21, 74.27]], [75, [31.21, 74.25]], [76, [31.21, 74.23]], [77, [31.21, 74.21]], [78, [31.21, 74.19]], [79, [31.21, 74.17]], [80, [31.21, 74.15]], [81, [31.29, 74.13]], [82, [31.29, 74.11]], [83, [31.27, 74.13]], [84, [31.27, 74.11]], [85, [31.25, 74.13]], [86, [31.25, 74.11]], [87, [31.23, 74.13]], [88, [31.23, 74.11]], [89, [31.21, 74.13]], [90, [31.21, 74.11]]]

In [99]:
# return data for a day for a set of coordinates
def api_request(coord,time):
    url = f"https://api.openweathermap.org/data/2.5/air_pollution/history?lat={coord[0]}&lon={coord[1]}&start={time}&end={time+82800}&appid=8d9efe95caf3922348a458d615abeb8c"
    r = requests.get(url = url)
    return r.json()

In [100]:
def extract_vals(temp,index):
    data=[]
    for i in range(len(temp['list'])):
        data.append(params(temp,i,index))
    return data

In [108]:
def get_data_by_zone(num,time):
    df=pd.DataFrame(extract_vals(api_request(coord[num][1],time),coord[num][0]),columns=['year','month','day','hour','index','aqi','co','no','no2','o3','so2','nh3','pm2_5','pm10'])
    return df
# get_data_by_zone(0,1666810800)

In [116]:
temp=[]
for i in range(5):
    temp.append(get_data_by_zone(i,1666810800))

In [117]:
pd.concat(temp,axis=0).sort_index(kind='merge')

,year,month,day,hour,index,aqi,co,no,no2,o3,so2,nh3,pm2_5,pm10
0,2022,10,27,0,1,5,4699.71,12.85,143.95,0.27,42.92,109.43,347.43,466.90
0,2022,10,27,0,2,5,4699.71,12.85,143.95,0.27,42.92,109.43,347.43,466.90
0,2022,10,27,0,3,5,4699.71,12.85,143.95,0.27,42.92,109.43,347.43,466.90
0,2022,10,27,0,4,5,4699.71,12.85,143.95,0.27,42.92,109.43,347.43,466.90
0,2022,10,27,0,5,5,4699.71,12.85,143.95,0.27,42.92,109.43,347.43,466.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,2022,10,27,23,1,5,8972.17,49.62,254.99,0.00,60.56,113.49,553.65,714.61
23,2022,10,27,23,2,5,8972.17,49.62,254.99,0.00,60.56,113.49,553.65,714.61
23,2022,10,27,23,3,5,8972.17,49.62,254.99,0.00,60.56,113.49,553.65,714.61
23,2022,10,27,23,4,5,8972.17,49.62,254.99,0.00,60.56,113.49,553.65,714.61
23,2022,10,27,23,5,5,8972.17,49.62,254.99,0.00,60.56,113.49,553.65,714.61